html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: #222222;
    background-color: #EEEEEE;
    // Подстраховка, чтобы шрифты были чёткими
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1150px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: $accent;
    padding: 12px 33px;
    border: none;
    transition: .3s ease;

    &:hover {
        background-color: #bb0859;
    }
}

.wrapper {
    position: relative;
    z-index: 150;
    overflow: hidden;

    &::before {
        position: fixed;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, .6);
    }
}

.socials {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6B6B6B;
        border-radius: 4px;
        margin-left: 30px;
        transition: .3s ease;

        &:hover {
            background-color: #222222;
        }

        &:first-child {
            margin-left: 0;
        }
    }

    &__link {
        padding: 5px;
        img {
            display: block;
            width: 20px;
            height: 20px;
        }
    }

}