html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Archivo', sans-serif;
    font-size: 12px;
    line-height: 13px;
    color: #222222;
    background-color: #EEEEEE;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1150px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 15px;
    border-radius: 2px;
    color: #FFFFFF;
    background-color: $accent;
    padding: 12px 33px;
}

.wrapper {
    position: relative;
    z-index: 50;
    overflow: hidden;

    &::before {
        position: fixed;
        content: "";
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .6);
    }
}