@media (max-width: 1050px) {
    .header {
        &__inner {
            flex-wrap: wrap;
            margin: 0 -15px;
            padding-top: 0;
            padding-bottom: 0;
        }
        &__login {
            order: -1;
            margin-left: auto;
            margin-right: 25px;
            padding: 6px 0;
            display: flex;
            justify-content: flex-end;
            flex-basis: 100%;
        }

        &__panel {
            border-top: 2px solid #e5e5e5;
            border-bottom: 2px solid #e5e5e5;
            padding: 15px 10px;
        }
    }

    .navigation {
        &__item {
            margin-left: 25px;
        }
    }
}


@media (max-width: 960px) {
    .main {
    
        &__title {
            font-size: 20px;
            line-height: 22px;
        }
    }

    .aside {
        width: 200px;
    }

    .card {
        flex-direction: column;
        padding: 20px;

        &__img {
            width: 260px;
            margin-right: 0;
            margin-bottom: 30px;
        }

    }
}

@media (max-width: 850px) {
    .pagination {
        &__link {
            width: 26px;
            height: 26px;
    
            &:hover {
                font-size: 10px;
                line-height: 11px;
            }
        }

        &__item {
            margin-left: 10px;
            transition: .3s ease;

            &:nth-child(5),
            &:nth-child(6),
            &:nth-child(7),
            &:nth-child(9),
            &:nth-child(10) {
                display: none;
            }
        }

        .pagination__item--current {
            display: block;
            font-size: 10px;
            line-height: 11px;
        }
    
        &__link--prev,
        &__link--next {
            width: 64px;
        }
    }

    .footer {
        &__nav {
            display: flex;
    
            .footer__item:not(:first-child) {
                margin-left: 50px;
            }
        }
    }
}

@media (max-width: 768px) {

    .mobile-menu {
        display: flex;
    }

    .menu-header,
    .menu-footer {
        display: flex;
    }

    .navigation {
        padding: 30px 0;
        
        &__list {
            flex-direction: column;
        }

        .list {
            display: block;
        }

        &__item {
            margin: 0;
            border-bottom: 1px solid #DCDCDC;
            font-weight: 500;
            font-size: 12px;
            line-height: 13px;
            color: #777777;
            text-align: center;

            &:first-child {
                border-top: 1px solid #DCDCDC;
            }

            &:hover {
                .navigation__sublist {
                    display: none;
                }
            }
        }

        &__link {
            padding: 12px;

            &::before {
                display: none;
            }
        }
    }

    .header {
        box-shadow: none;
        &__navigation {
            overflow: auto;
            transform: translateX(-200%);
            position: fixed;
            z-index: 999;
            left: 0;
            top: 0;
            background-color: #ffffff;
            width: 87%;
            height: 100%;
            margin-right: 0;

            &.navigation--active {
                transform: translateX(0);
            }
        }

        &__panel {
            padding: 0 20px 0 10px;
        }

        &__logo {
            margin-left: 0;
        }

        &__login {
            margin-right: 20px;
        }
    }

    .about {
        padding: 14px;

        &__title {
            margin-bottom: 20px;
        }

        &__question {
            margin-bottom: 10px;
        }

        &__item {
            margin-bottom: 20px;
            display: none;
            &:nth-child(2), 
            &:nth-child(3), 
            &:nth-child(4) {
                display: block;
            }
        }
    }

    .aside {
        display: none;
    }

    .main {
        padding-left: 0;
    }

    .main-content {
        padding-top: 20px;
    }

    .card {
        &__title {
            text-transform: uppercase;
        }
    }

    .lead {
        background-image: url('../images/lead-bg-mobile.jpg');
        margin-top: 20px;

        &__title {
            font-size: 30px;
            line-height: 33px;
        }
    }

    .footer {
        &__inner {
            flex-direction: column;
        }

        &__label {
            max-width: 100%;
        }

        &__btn {
            width: 180px;
        }

        .socials {
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            &__item {
                margin-left: 5px;
            }
        }
        
        &__item {
            &:last-child {
                align-items: center;
                text-align: center;
                order: 2;
                margin-bottom: 30px;
            }
            &:first-child {
                order: 3;
            }
        }

        &__nav {
            margin-bottom: 25px;

            .footer__item {
                margin-left: 45px;
                &:last-child {
                    align-items: flex-start;
                    text-align: left;
                    order: 0;
                    margin-bottom: 0;
                }
            }

            .footer__item:not(:first-child) {
                margin-left: 0;
            }
        }
    }
}


@media (max-width: 500px) {

    .container {
        padding: 0 10px;
    }

    .header {
        &__inner {
            margin: 0 -10px;
        }
    }

    .card {
        &__img {
            margin-bottom: 10px;
        }

        &__header {
            flex-direction: column-reverse;
        }

        &__icons {
            margin-bottom: 10px;
        }

        &__item {
            margin-bottom: 12px;
        }

        &__info {
            padding-bottom: 3px;
        }

        &__footer-item {
            margin-bottom: 14px;  
        }
    }

    .pagination {
        &__ellipsis {
            margin-right: -4px;
            margin-left: 8px;
        }
    }
}


@media (max-width: 400px) {
    .mobile-menu {
        &__item {
            margin-left: 12px;
        }

        &__btn {
            margin-left: 15px;
        }
    }

    .header {
        .logo img {
            width: 60px;
        }
    }
}