extends ../templates/main.pug

block title
    title Main page - Viva Massage

block content
    .container
        .content-wrapper
            section.about
                h1.about__title Oriental Thai Massage in Central London
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
                .about__item
                    .about__question
                        | What Is The Purpose Of Swedish Massage?
                    .about__answer
                        p
                            | The main purpose of Swedish massage is to increase the oxygen flow in the blood and release toxins from the muscles. Massage helps flush the tissues of harmful deposits such as lactic acid, uric acid, and other metabolic wastes – improving recovery time from muscular strain. Swedish massage also stretches the ligaments and tendons keeping them supple and pliable, and stimulates the skin and sooth the nervous system at the same time.
            .main-content
                aside.aside
                    | Aside Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam, numquam accusamus. Commodi itaque laborum explicabo doloribus culpa voluptate ad mollitia! Fugiat quaerat, laudantium aspernatur iste sunt eveniet adipisci aut totam quae libero accusamus quis dolor eligendi repellendus similique delectus. Accusamus illo iste error corporis libero tenetur temporibus magni repellat necessitatibus nemo quidem aut totam molestias, omnis asperiores facilis unde odio dolorem. Dolores nulla cupiditate velit soluta, ullam rem est quisquam obcaecati mollitia omnis possimus dolore ipsa ad ea id officia corrupti autem itaque! Nesciunt soluta recusandae itaque tenetur sunt atque ea, quasi facilis repudiandae optio voluptatem, illum, ratione consequuntur sint totam. Consequuntur cumque minus odit tempora voluptates quos, deleniti mollitia, ad recusandae in temporibus quas. Quam tempore libero est ad voluptates. Sint ullam perferendis quibusdam laudantium ad nostrum dicta vero officia, facilis magni quia, exercitationem voluptatibus iure explicabo voluptatum eius! Minima fuga ut saepe similique iusto reiciendis sed voluptates nostrum repellendus voluptatum neque, nisi delectus adipisci voluptas repellat sapiente? Vero necessitatibus culpa sunt ex perferendis amet, velit suscipit exercitationem aliquid laudantium. Error tempora repudiandae deserunt maxime! Culpa sint iste itaque sunt commodi eligendi similique eveniet libero suscipit dolor debitis, et maxime facilis illo quae, id amet explicabo architecto, rerum corporis.
                main.main
                    h2.main__title Oriental Thai Massage in Central London
                    article.main__card.card
                        img(width=280, alt="Master", src="images/card-1.jpg").card__img
                        .card__inner
                            header.card__header
                                a(href="#").card__title Thai Massage by Josephina Hello
                                ul.card__icons
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/star-icon.svg", alt="Star")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/check-icon.svg", alt="Check")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/house-icon.svg", alt="House")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/car-icon.svg", alt="Car")
                            ul.card__info
                                li.card__item
                                    .card__item-img
                                        img(src="images/phone-icon.svg", alt="Phone")
                                    .card__phone
                                        span.card__phone-start 07547
                                        span.card__phone-end 9988 
                                        a(href="#").card__phone-btn
                                            | Reveal phone number
                                li.card__item
                                    .card__item-img
                                        img(src="images/currency-icon.svg", alt="Currency")
                                    .card__price Incall: <b>£150/h</b>
                                    .card__price Outcall: <b>£100/h</b>
                                li.card__item
                                    .card__item-img
                                        img(src="images/marker-icon.svg", alt="Place")
                                    .card__place Bayswater, Central Park, NE22 12PT, London
                                li.card__item
                                    .card__item-img
                                        img(src="images/profile-icon.svg", alt="Position")
                                    .card__profile 23 y.o. | Caucasian
                            hr
                            footer.card__footer
                                .card__footer-item
                                    p
                                        b Services: 
                                        | Thai Massage, Oriental Massage, Hot massageLorem ipsum dolor 
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__footer-item
                                    p
                                        b About: 
                                        |  We are open! At Golden flower Thai Massage, we provide Oriental Thai Massage which is anin the body’s various centre ancientipsum dolor sit amet, consectetur adipiscing elit, sed do adria magna aliqua. Ut enim a minim venvenven, q...
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__rating
                                    .card__rating-num 3.5
                                    ul.card__rating-stars.stars
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item
                                            include ../../images/rating-star.svg
                                    a(href="#", rel="nofollow").card__reviews ( 345 Reviews)
                    article.main__card.card
                        img(width=280, alt="Master", src="images/card-1.jpg").card__img
                        .card__inner
                            header.card__header
                                a(href="#").card__title Thai Massage by Josephina Hello
                                ul.card__icons
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/star-icon.svg", alt="Star")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/check-icon.svg", alt="Check")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/house-icon.svg", alt="House")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/car-icon.svg", alt="Car")
                            ul.card__info
                                li.card__item
                                    .card__item-img
                                        img(src="images/phone-icon.svg", alt="Phone")
                                    .card__phone
                                        span.card__phone-start 07547
                                        span.card__phone-end 9988 
                                        a(href="#").card__phone-btn
                                            | Reveal phone number
                                li.card__item
                                    .card__item-img
                                        img(src="images/currency-icon.svg", alt="Currency")
                                    .card__price Incall: <b>£150/h</b>
                                    .card__price Outcall: <b>£100/h</b>
                                li.card__item
                                    .card__item-img
                                        img(src="images/marker-icon.svg", alt="Place")
                                    .card__place Bayswater, Central Park, NE22 12PT, London
                                li.card__item
                                    .card__item-img
                                        img(src="images/profile-icon.svg", alt="Position")
                                    .card__profile 23 y.o. | Caucasian
                            hr
                            footer.card__footer
                                .card__footer-item
                                    p
                                        b Services: 
                                        | Thai Massage, Oriental Massage, Hot massageLorem ipsum dolor 
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__footer-item
                                    p
                                        b About: 
                                        |  We are open! At Golden flower Thai Massage, we provide Oriental Thai Massage which is anin the body’s various centre ancientipsum dolor sit amet, consectetur adipiscing elit, sed do adria magna aliqua. Ut enim a minim venvenven, q...
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__rating
                                    .card__rating-num 3.5
                                    ul.card__rating-stars.stars
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item
                                            include ../../images/rating-star.svg
                                    a(href="#", rel="nofollow").card__reviews ( 345 Reviews)
                    article.main__card.card
                        img(width=280, alt="Master", src="images/card-1.jpg").card__img
                        .card__inner
                            header.card__header
                                a(href="#").card__title Thai Massage by Josephina Hello
                                ul.card__icons
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/star-icon.svg", alt="Star")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/check-icon.svg", alt="Check")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/house-icon.svg", alt="House")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/car-icon.svg", alt="Car")
                            ul.card__info
                                li.card__item
                                    .card__item-img
                                        img(src="images/phone-icon.svg", alt="Phone")
                                    .card__phone
                                        span.card__phone-start 07547
                                        span.card__phone-end 9988 
                                        a(href="#").card__phone-btn
                                            | Reveal phone number
                                li.card__item
                                    .card__item-img
                                        img(src="images/currency-icon.svg", alt="Currency")
                                    .card__price Incall: <b>£150/h</b>
                                    .card__price Outcall: <b>£100/h</b>
                                li.card__item
                                    .card__item-img
                                        img(src="images/marker-icon.svg", alt="Place")
                                    .card__place Bayswater, Central Park, NE22 12PT, London
                                li.card__item
                                    .card__item-img
                                        img(src="images/profile-icon.svg", alt="Position")
                                    .card__profile 23 y.o. | Caucasian
                            hr
                            footer.card__footer
                                .card__footer-item
                                    p
                                        b Services: 
                                        | Thai Massage, Oriental Massage, Hot massageLorem ipsum dolor 
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__footer-item
                                    p
                                        b About: 
                                        |  We are open! At Golden flower Thai Massage, we provide Oriental Thai Massage which is anin the body’s various centre ancientipsum dolor sit amet, consectetur adipiscing elit, sed do adria magna aliqua. Ut enim a minim venvenven, q...
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__rating
                                    .card__rating-num 3.5
                                    ul.card__rating-stars.stars
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item
                                            include ../../images/rating-star.svg
                                    a(href="#", rel="nofollow").card__reviews ( 345 Reviews)
                    article.main__card.card
                        img(width=280, alt="Master", src="images/card-1.jpg").card__img
                        .card__inner
                            header.card__header
                                a(href="#").card__title Thai Massage by Josephina Hello
                                ul.card__icons
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/star-icon.svg", alt="Star")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/check-icon.svg", alt="Check")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/house-icon.svg", alt="House")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/car-icon.svg", alt="Car")
                            ul.card__info
                                li.card__item
                                    .card__item-img
                                        img(src="images/phone-icon.svg", alt="Phone")
                                    .card__phone
                                        span.card__phone-start 07547
                                        span.card__phone-end 9988 
                                        a(href="#").card__phone-btn
                                            | Reveal phone number
                                li.card__item
                                    .card__item-img
                                        img(src="images/currency-icon.svg", alt="Currency")
                                    .card__price Incall: <b>£150/h</b>
                                    .card__price Outcall: <b>£100/h</b>
                                li.card__item
                                    .card__item-img
                                        img(src="images/marker-icon.svg", alt="Place")
                                    .card__place Bayswater, Central Park, NE22 12PT, London
                                li.card__item
                                    .card__item-img
                                        img(src="images/profile-icon.svg", alt="Position")
                                    .card__profile 23 y.o. | Caucasian
                            hr
                            footer.card__footer
                                .card__footer-item
                                    p
                                        b Services: 
                                        | Thai Massage, Oriental Massage, Hot massageLorem ipsum dolor 
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__footer-item
                                    p
                                        b About: 
                                        |  We are open! At Golden flower Thai Massage, we provide Oriental Thai Massage which is anin the body’s various centre ancientipsum dolor sit amet, consectetur adipiscing elit, sed do adria magna aliqua. Ut enim a minim venvenven, q...
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__rating
                                    .card__rating-num 3.5
                                    ul.card__rating-stars.stars
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item
                                            include ../../images/rating-star.svg
                                    a(href="#", rel="nofollow").card__reviews ( 345 Reviews)
                    article.main__card.card
                        img(width=280, alt="Master", src="images/card-1.jpg").card__img
                        .card__inner
                            header.card__header
                                a(href="#").card__title Thai Massage by Josephina Hello
                                ul.card__icons
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/star-icon.svg", alt="Star")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/check-icon.svg", alt="Check")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/house-icon.svg", alt="House")
                                    li.card__icon
                                        a(href="#").card__icon-link
                                            img(src="images/car-icon.svg", alt="Car")
                            ul.card__info
                                li.card__item
                                    .card__item-img
                                        img(src="images/phone-icon.svg", alt="Phone")
                                    .card__phone
                                        span.card__phone-start 07547
                                        span.card__phone-end 9988 
                                        a(href="#").card__phone-btn
                                            | Reveal phone number
                                li.card__item
                                    .card__item-img
                                        img(src="images/currency-icon.svg", alt="Currency")
                                    .card__price Incall: <b>£150/h</b>
                                    .card__price Outcall: <b>£100/h</b>
                                li.card__item
                                    .card__item-img
                                        img(src="images/marker-icon.svg", alt="Place")
                                    .card__place Bayswater, Central Park, NE22 12PT, London
                                li.card__item
                                    .card__item-img
                                        img(src="images/profile-icon.svg", alt="Position")
                                    .card__profile 23 y.o. | Caucasian
                            hr
                            footer.card__footer
                                .card__footer-item
                                    p
                                        b Services: 
                                        | Thai Massage, Oriental Massage, Hot massageLorem ipsum dolor 
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__footer-item
                                    p
                                        b About: 
                                        |  We are open! At Golden flower Thai Massage, we provide Oriental Thai Massage which is anin the body’s various centre ancientipsum dolor sit amet, consectetur adipiscing elit, sed do adria magna aliqua. Ut enim a minim venvenven, q...
                                    a.card__footer-btn(href="#", rel="nofollow") See more
                                        img(src="images/arrow-right.svg", alt="See more")
                                .card__rating
                                    .card__rating-num 3.5
                                    ul.card__rating-stars.stars
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item.stars__item--fill
                                            include ../../images/rating-star.svg
                                        li.card__rating.stars__item
                                            include ../../images/rating-star.svg
                                    a(href="#", rel="nofollow").card__reviews ( 345 Reviews)
                    .main__pagination.pagination
                        ul.pagination__list
                            li.pagination__item
                                a(href="#").pagination__link.pagination__link--prev
                                    include ../../images/arrow-right.svg
                                    | prev
                            li.pagination__item
                                a(href="#").pagination__link 1
                            li.pagination__item
                                a(href="#").pagination__link 2
                            li.pagination__item.pagination__item--current
                                a(href="#").pagination__link 3
                            li.pagination__item
                                a(href="#").pagination__link 4
                            li.pagination__item
                                a(href="#").pagination__link 5
                            li.pagination__ellipsis ...
                            li.pagination__item
                                a(href="#").pagination__link 11
                            li.pagination__item
                                a(href="#").pagination__link 12
                            li.pagination__item
                                a(href="#").pagination__link 13
                            li.pagination__item
                                a(href="#").pagination__link.pagination__link--next next
                                    include ../../images/arrow-right.svg
    section.lead
        .container
            .lead__inner
                h4.lead__title Are you therapist?
                .lead__subtitle Post your ad. It’s free!
                a(href="#").lead__btn.btn Post An Ad
