footer.footer
    .container
        .footer__inner
            .footer__item
                a(href="index.html").footer__logo.logo
                    img(src="images/logo.svg", alt="Логотип Viva massage")
                .footer__about
                    p
                    | Thai Massage is an ancient massage style that combines yoga, Indian Ayurvedic principles and acupressure.The therapist.
                ul.footer__socials.socials
                    li.socials__item
                        a(href="#").socials__link
                            img(src="images/insta-icon.svg", alt="Instagram")
                    li.socials__item
                        a(href="#").socials__link
                            img(src="images/vk-icon.svg", alt="Vkontakte")
                    li.socials__item
                        a(href="#").socials__link
                            img(src="images/youtube-icon.svg", alt="Youtube")
            .footer__nav
                .footer__item
                    ul.footer_list
                        li.footer__item-title Quick Links
                        li.footer__list-item
                            a.footer__link(href="#") About Us
                        li.footer__list-item
                            a.footer__link(href="#") Contact Us
                        li.footer__list-item
                            a.footer__link(href="#") Careers
                        li.footer__list-item
                            a.footer__link(href="#") All Cities
                        li.footer__list-item
                            a.footer__link(href="#") Help & Support
                        li.footer__list-item
                            a.footer__link(href="#") Advertise With Us
                        li.footer__list-item
                            a.footer__link(href="#") Blog
                .footer__item
                    ul.footer_list
                        li.footer__item-title Quick Links
                        li.footer__list-item
                            a.footer__link(href="#") About Us
                        li.footer__list-item
                            a.footer__link(href="#") Contact Us
                        li.footer__list-item
                            a.footer__link(href="#") Careers
                        li.footer__list-item
                            a.footer__link(href="#") All Cities
                        li.footer__list-item
                            a.footer__link(href="#") Help & Support
                        li.footer__list-item
                            a.footer__link(href="#") Advertise With Us
                        li.footer__list-item
                            a.footer__link(href="#") Blog

            .footer__item
                .footer__item-title Newsletter
                form(action="#", method="get", id="footerForm", class="footer__form")
                    label(for="footerEmail").footer__label Subscribe to our newsletter
                    input(type="email", name="footerEmail", id="footerEmail", placeholder="Your Email here...").footer__input
                    button(type="submit").footer__btn.btn Subscribe
        .footer__copy
            | &copy; Copyright — 2020. All right are reserved.