header.header
        .container
            .header__inner
                |
                |
                .header__panel
                    a(href="index.html").header__logo.logo
                        img(src="images/logo.svg", alt="Логотип Viva massage")
                    ul.header__mobile-menu.mobile-menu
                        li.mobile-menu__item
                            a(href="#").mobile-menu__link
                                include ../../images/gender-icon.svg
                                | Gender
                            ul.mobile-menu__sublist
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Help
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Agencies
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Male Therapists
                        li.mobile-menu__item
                            a(href="#").mobile-menu__link
                                include ../../images/treatment-icon.svg
                                | Treatment
                            ul.mobile-menu__sublist
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Help
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Agencies
                                li.mobile-menu__subitem
                                    a.mobile-menu__link(href="#") Male Therapists
                        li.mobile-menu__item.mobile-menu__filter
                            a(href="#").mobile-menu__link
                                include ../../images/city-icon.svg
                                | City
                            ul.mobile-menu__sublist.mobile-filter
                                li.mobile-filter__item.mobile-filter__item--active
                                    .mobile-filter__select.mobile-filter__select--country
                                        select
                                            option(selected, disabled) Select a country
                                            option(value="England") England
                                            option(value="Wales") Wales
                                            option(value="Scotland") Scotland
                                            option(value="N.Ireland") N.Ireland
                                li.mobile-filter__item.mobile-filter__item--active
                                    .mobile-filter__select.mobile-filter__select--country
                                        select
                                            option(selected, disabled) Select a city
                                            option(value="England") London
                                            option(value="Wales") Wales
                                            option(value="Scotland") Scotland
                                            option(value="N.Ireland") N.Ireland
                                li.mobile-filter__item.mobile-filter__item--active
                                    .mobile-filter__select.mobile-filter__select--country
                                        select
                                            option(selected, disabled) Select part of the city
                                            option(value="England") Mayfair
                                            option(value="Wales") Wales
                                            option(value="Scotland") Scotland
                                            option(value="N.Ireland") N.Ireland
                                li.mobile-filter__item.mobile-filter__item--active
                                    .mobile-filter__select.mobile-filter__select--country
                                        select
                                            option(selected, disabled) Select area
                                            option(value="England") Knightsbridge
                                            option(value="Wales") Wales
                                            option(value="Scotland") Scotland
                                            option(value="N.Ireland") N.Ireland
                        button.mobile-menu__btn
                            span  
                    nav.header__navigation.navigation
                        .menu-header
                            button.menu-close
                                span
                            a(href="index.html").header__logo.logo
                                img(src="images/logo.svg", alt="Логотип Viva massage")
                        ul.navigation__list
                            li.navigation__item.navigation__item--active
                                a.navigation__link(href="#") Home
                            li.navigation__item
                                a.navigation__link(href="#") Female Therapists
                            li.navigation__item
                                a.navigation__link(href="#") Male Therapists
                            li.navigation__item
                                a.navigation__link(href="#") Agencies
                            li.navigation__item
                                a.navigation__link(href="#") Treatments
                                    span.list
                                        img(src="images/list.svg", alt="List")
                                ul.navigation__sublist
                                    li.navigation__subitem
                                        a.navigation__link(href="#") Help
                                    li.navigation__subitem
                                        a.navigation__link(href="#") Agencies
                                    li.navigation__subitem
                                        a.navigation__link(href="#") Male Therapists
                            li.navigation__item
                                a.navigation__link(href="#") Help
                        .menu-footer
                            .header__login
                                a(href="#").header__login-item
                                    img(src="images/add-icon.svg", alt="Post An Ad")
                                    | Post An Ad
                                a(href="#").header__login-item
                                    img(src="images/login-icon.svg", alt="Login/Register")
                                    | Login/Register
                            ul.header__socials.socials
                                li.socials__item
                                    a(href="#").socials__link
                                        img(src="images/insta-icon.svg", alt="Instagram")
                                li.socials__item
                                    a(href="#").socials__link
                                        img(src="images/vk-icon.svg", alt="Vkontakte")
                                li.socials__item
                                    a(href="#").socials__link
                                        img(src="images/youtube-icon.svg", alt="Youtube")

                .header__login
                    a(href="#").header__login-item
                        img(src="images/login-icon.svg", alt="Login/Register")
                        | Login/Register
                    a(href="#").header__login-item
                        img(src="images/add-icon.svg", alt="Post An Ad")
                        | Post An Ad